.conteiner{
    background-color: grey;
    width: 50%;
    position: fixed;
    margin: 350px;
    margin-top: 20px;
    left: 400; 
}

.box1{

    background-color: black;
    color:  wheat;
    width: 300px;
    height: 250px;
    margin: 30px;
    margin-left: 55px;
    margin-top: 15px;
    position: relative;

}